* {
    margin: 0;
    padding: 0;
}

main {
    background-color: black;
}

/* inicio  */

body {
    background-color: #f1f1f1;
    text-align: center;
}

h1 {
    font-size: 32px;
    margin-bottom: 20px;
    color: white;
    text-align: center;
}

p {
    font-size: 18px;
    margin-bottom: 30px;
    color: white;
    text-align: center;
}

.h1index {
    padding: 20px;
    font-family: 'Major Mono Display', monospace;
}

.logo {
    width: 200px;
    height: auto;
    margin: auto;
}

.imgindex {
    margin: 20px;
}

.image-wrapperi {
    display: flex;
    justify-content: center;
}

.image-wrapperi img {
    width: 600px;
    height: 600px;
    height: auto;
}

.cta-button {
    display: flex;
    align-items: center;
    background-color: #333;
    color: #fff;
    padding: 12px;
    font-size: 18px;
    text-decoration: none;
    border-radius: 9px;
    width: 200PX;
    height: 50px;
    margin: auto;

}

.cta-button:hover {
    background-color: #6e62628f;
}

.h2ubi {
    text-align: center;
    color: white;
    padding: 20px;
    font-family: 'Truculenta', sans-serif;
}

.googlemap {
    text-align: center;
    padding: 20px;
}

.logoindex {
    display: flex;
    width: 90vw;
    margin: auto;
    background-color: rgb(248, 247, 247);
}

.parrafoindex {
    font-size: 20px;
    padding: 20px;
}




/* galeria  */


.container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    gap: 20px;
  }

  .image-wrapper {
    position: relative;
    padding-bottom: 75%;
  }

  .image-wrapper img {
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }




.h1galeria {
    color: white;
    padding: 10px;
    font-size: 40px;
    text-align: center;
    font-family: 'Major Mono Display', monospace;

}



/* servicios */




.h1servicios {
    color: white;
    text-align: center;
    padding-top: 20px;
    margin-bottom: 20px;
    font-family: 'Major Mono Display', monospace;
    font-size: 45px;

}

.divimagenprecios {
    width: 400px;
    height: 600px;
    margin: auto;
    padding: 10px;
}
.imagenprecios{
  width: 400px;
  height: 600px;
  margin: auto;
  padding: 10px;
}
.imgdiplomas {
    width: 400px;
    height: 580px;
    margin: auto;
    padding: 10px;
}

.imgdiplomas2 {
    width: 400px;
    height: 580px;
    margin: auto;
    padding: 10px;

}

.h2servicios {
    display: block;
    text-align: center;
    color: white;
    margin: auto;
    font-family: 'Major Mono Display', monospace;
    font-size: 40px;
    padding: 20px;

}

.parrafoservicios {
    color: black;
    text-align: center;
    background-color: white;
    font-size: 30px;
    font-family: 'Truculenta', sans-serif;
    margin: 10px;
}

.image-container {
    display: flex;
    justify-content: center;
}

.image-container img {
    width: 400px;
    height: 500px;
    object-fit: cover;
    padding: 10px;
    margin: 10px;
}

.h2cursos{
    color: white;
    font-family: 'Major Mono Display', monospace;
    margin-bottom: 30px,;
}
.imagecontainer {
  display: flex;
  justify-content: center;
  
  padding: 5px;
}


  .containercurso {
    display: flex;
    align-items: center;
    width: 80vw;
    margin: auto;
  }

  .image-container {
    flex: 1;
    
  }

  .text-container {
    flex: 1;
    padding: 0 20px;
  }

  .text-container h2 {
    font-size: 24px;
    margin-bottom: 30px;
  }

  .text-container p {
    margin-bottom: 10px;
  }
  .parrafocursos{
    display: flex;
  }

.image-wrappers img{
  margin: 5px;
  padding: 5px;
}









/* contacto  */



.containerc {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
}

.form-group {
    margin-bottom: 20px;
}

.form-group label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
}

.form-group input,
.form-group textarea {
    width: 100%;
    padding: 10px;
}

.form-group textarea {
    height: 120px;
}

.form-group button {
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    cursor: pointer;
}

.form-group button:hover {
    background-color: #555;
}

.letrascontacto {
    color: white;
    font-family: 'Truculenta', sans-serif;
    font-size: 20px;
}
.h1contacto{
    color: white;
    font-family: 'Major Mono Display', monospace;
    font-size: 40px;
}


/* footerrrr            */

.divfooter {
    width: 70vw;
    height: 4px;
    background-color: rgb(12, 105, 12);
    margin: auto;
    margin-top: 30px;

}

.titulofooter {
    text-align: center;
    color: white;
    margin-top: 20px;
}

.footer {
    background-color: black;
    color: white;
    padding: 20px;
    text-align: center;
}

.footer a {
    color: #333;
    text-decoration: none;
    margin: 0 10px;
}

.logoredes {

    width: 50px;
    height: 50px;
    margin: 10px;
    padding: 10px;
}




.image-wrappers {
    width: 350px;
    height: 500px;
    overflow: hidden;
    position: relative;
    transition: transform 0.3s ease;
    cursor: pointer;
  }

  .image-wrappers:hover {
    filter: brightness(70%);
  }

  .image-wrappers img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  @media screen and (max-width: 768px) {
    .image-container {
      flex-wrap: wrap;
    }

    .image-wrappers {
      width: calc(50% - 10px);
      margin-bottom: 20px;
    }
  }

  @media screen and (max-width: 480px) {
    .image-wrappers {
      width: 100%;
    }
  }





/* medias queryssss */


 @media screen and (max-width: 768px) {
    .container {
      grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    }
  }

  @media screen and (max-width: 480px) {
    .container {
      grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    }
  }




/* media indexxxxxx */

  @media screen and (max-width: 768px){
    .mediaiframe{
    
        height: 300px;
        width: 300px;

    }
  }
  @media (max-width: 1300px){
    .image-wrapperi img {
        width: 550px;
        height: 400px;
        padding: 10px;
        margin: 5px;
    }
  }

  @media (max-width: 1200px){
    .image-wrapperi img {
        width: 500px;
        height: 400px;
        padding: 10px;
    }
  }
  

  @media (max-width: 1100px){
    .image-wrapperi img {
        width: 420px;
        height: 380px;
        padding: 10px;
        margin: 5px;
    }
  }
  @media (max-width: 950px){
    .image-wrapperi img {
        width: 400px;
        height: 360px;
        padding: 10px;
        margin: 5px;
    }
  }
  @media (max-width: 810px){
    .image-wrapperi img {
        width: 330px;
        height: 300px;
        padding: 5px;
        margin: 2px;

    }
  }
  @media (max-width: 730px){
    .image-wrapperi img {
        width: 300px;
        height: 250px;
        padding: 5px;
        margin: 2px;

    }
  }
  @media (max-width:700px){
    .image-wrapperi{
      display: grid;
      justify-content: center;

    }

  }


  @media (max-width:700px){
    .image-wrapperi img{
      justify-content: center;
      width: 480px;
      height: 400px;
      margin: 2px;
      
    }
  }
  @media (max-width:550px){
  
    .image-wrapperi{
      justify-content: center;
      display: grid;
    }
  }
  @media (max-width:550px){
    .image-wrapperi img{
      width: 350px;
      height: 300px;
      margin: 2px;
      padding: 2px;
    }
  }

/* finnn media indexxxxx */

/* media serviciosss */

@media (max-width:550px){
  .imagenprecios{
    width: 300px;
    height: 400px;
    padding: 5px;
  }

}
@media (max-width:550px){

  .divimagenprecios{
    justify-content: center;
    width: 300px;
    height: 400px;
    margin: auto;
    padding: 5px;
  }
}
@media (max-width:1000px){
  .containercurso{
    display: grid;
    justify-content: center;
    margin: auto;
  }
}
@media (max-width:800px){
  .image-container img{
    width: 300px;
    height: 400px;
    padding: 5px;
    margin: 5px;
  }

}



@media (max-width:1100px){
  .imagecontainer img{
    width: 200px;
    height: 400px;
    margin: 2px;
    padding: 2px;
  }
}
@media (max-width:1100px){
  .image-wrappers{
    width: 200px;
    height: 400px;
    margin: 2px;
    padding: 2px;
  }

}
@media (max-width:650px){
  .imagecontainer{
    display: grid;
    justify-content: center;
    margin: auto;
  }
}
@media (max-width:650px){
  .imagecontainer img{
    height: 300px;
  }
}
@media (max-width:650px){
  .image-wrappers{
    height: 310px;
  }

}